header{
    height: 100vh;
}
.navbar-container{
    width: 90vw;
    height: 60rem;
    margin: 0 auto;
    background: transparent;
    box-shadow: none
}
.logo-container{
    width: 250rem;
    margin-left: 20rem;
    align-self: center;
}
.navbar-sections{
    display: block;
}
.navbar-login-button{
    display: block;
}
.navbar-menu-button{
    display: none;
}